<%- include('partials/header') %>

<div class="p-5 mb-4 bg-light rounded-3 jumbotron-custom">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to CulinaryArchive</h1>
      <p class="col-md-8 fs-4">The professional directory for storing your most treasured culinary creations. Organize, update, and manage your kitchen experiments in one secure place.</p>
      <a href="/recipes" class="btn btn-primary btn-lg" type="button">View Directory</a>
      <a href="/recipes/new" class="btn btn-outline-secondary btn-lg" type="button">Submit Recipe</a>
    </div>
</div>

<%- include('partials/footer') %>